body {
  font-size: 16px;
  width: 80%
  padding: 0% 10%;
}

form {
  width: 80%;
  padding: 0 10%;
}

label {
  padding: 10px 0;
  display: block;
}

input {
  left: calc(20%);
  position: absolute;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

input.button {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  background: #000;
  border-radius: 5px;
  padding: 0.6em 1em;
}
.button:hover,
.button.checked {
  background-color: #1ABF89;
}
